@import "tailwindcss";
@import "@heroui/styles";

@layer utilities {
    .drag {
        -webkit-app-region: drag;
        app-region: drag;
    }

    .no-drag {
        -webkit-app-region: no-drag;
        app-region: no-drag;
    }
}